.organization-view {
    position: absolute;
    width: 25vw;
    margin: 0px;
    height: calc(100vh - 100px);
    top: 100px;
    background-color: #FAFAFA;
}

.add-organization-view {
    position: absolute;
    width: 25vw;
    margin: 0px;
    height: calc(100vh - 100px);
    top: 100px;
    left: 0;
    background-color: #FAFAFA;
}

.add-contact-view {
    position: absolute;
    width: 25vw;
    margin: 0px;
    height: calc(100vh - 100px);
    top: 100px;
    left: 0;
    background-color: #FAFAFA;
}

.delete-org-view {
    position: absolute;
    width: 25vw;
    margin: 0px;
    height: calc(100vh - 100px);
    top: 100px;
    left: 0;
    background-color: #FAFAFA;
}

.contact-list-item {
    height: 110px;
}

#contact-list {
    max-height: calc(100vh - 346px);
    overflow: scroll;
    margin: 0;
    background-color: #ebebeb;
    padding: 0;
}

.organization-detail {
    position: absolute;
    width: 25vw;
    margin: 0px;
    height: calc(100vh - 100px);
    top: 100px;
    left: 0;
    background-color: #FAFAFA;
}


.add-org-form {
    text-align: center;
}

.add-contact-form {
    text-align: center;
}

.organization-view-header {
    margin: 22px;
}


.organozation-list-item:hover{
    cursor: pointer;
    background-color: rgb(83,109,254);
}

.organozation-list-item:hover *{
    color: white !important;
}

.organization-list-line-break {
    margin: 0;
}

#add-org-button {
    position: absolute;
    top: 13px;
    right: -20px;
}

#organization-list-spinner {
    text-align: center;
}

#edit-org-button {
    float: right;
    top: 20px;
}

.subtitle {
    color: white;
}

.edit-contact-button {
    position: relative;
    left: 10px;
}