.organization-view {
    position: absolute;
    width: 25vw;
    margin: 0px;
    height: calc(100vh - 100px);
    top: 100px;
    background-color: #FAFAFA;
}

.sliding-window {
    position: absolute;
    width: 25vw;
    margin: 0px;
    height: calc(100vh - 100px);
    top: 100px;
    left: 0px;
    transform: translateX(-25vw);
    background-color: #FAFAFA;
}

.contact-list-item {
    height: 110px;
}

#contact-list {
    max-height: calc(100vh - 346px);
    overflow: scroll;
    margin: 0;
    background-color: #ebebeb;
    padding: 0;
}

.add-org-form {
    text-align: center;
}

.add-contact-form {
    text-align: center;
}

.organization-view-header {
    margin: 22px;
}


.organization-list-li:hover{
    cursor: pointer;
    background-color: rgb(83,109,254);
}

.organization-list-li:hover *{
    color: white !important;
}

.organization-list-line-break {
    margin: 0;
}

#add-org-button {
    position: absolute;
    top: 13px;
    right: -20px;
}

#organization-list-spinner {
    text-align: center;
}

#edit-org-button {
    float: right;
    top: 20px;
}

#github-link {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#delete-contact-button {
    left: 15px;
}

.subtitle {
    color: white;
}

.edit-contact-button {
    position: relative;
    left: 10px;
}

.delete-confirmation {
    text-align: center;
}

.delete-button:hover {
    background-color: red;
    color: white;
}

.edit-contact-view {
    text-align: center;
}

.close-sub-menu-button {
    float: right;
    top: 20px;
}